* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #E0485E;  
    font-family: 'Roboto', sans-serif;
}


/* main div styling  */
.container {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}


/* header styling */
.container h1 {
    font-size: 70px;
    text-align: center;
    color: #eeeeee;
    font-weight: 350;
    letter-spacing: 0.5rem;
    /* header selection  */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* background color for socials */
.socials, #social, .container h1 {
    background-color: transparent;
}


/* icon styling */
#social{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 10px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: none;
    /* icon selection */
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


/* background color and transtion styling for images */
#social img {
    background-color: transparent;
    transition-duration: 0.2s;
}


/* on hover animation for images */
#social img:hover {
    transform: translateY(-10px);
}


/* particles.js background */
#particles-js {
    width: 100%;
    height: 100vh;
    z-index: 9999;
    overflow: hidden;
}