* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #38363D;
    font-family: 'Poppins', sans-serif;
    /* disabling selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
}

/* main div styling  */
.container {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: transparent;
}


/* header styling */
.container h1 {
    font-size: 125px;
    text-align: center;
    color: #ddd;
    font-weight: 300;
    letter-spacing: 0.75rem;
}


/* background color for socials */
.socials i,
.socials,
.container h1 {
    background-color: transparent;
    text-decoration: none;
}


/* icon styling */
.socials {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    border: none;
    outline: none;
}


/* background color and transtion styling for images */
.socials i {
    transition: 0.5s;
    font-size: 48px;
    color: #ddd;
}


/* footer styling */
.footer {
    background-color: transparent;
    position: relative;
    float: right;
    top: 97vh;
}


/* on hover animations for images */
#github i:hover {
    transition: all 0.5s ease;
    transform: translateY(-15px);
    color: #000000 !important;
}


#twitter i:hover {
    transition: all 0.5s ease;
    transform: translateY(-15px);
    color: #00acee !important;
}


#discord i:hover {
    transition: all 0.5s ease;
    transform: translateY(-15px);
    color: #7289da !important;
}


/* particles.js background */
#particles-js canvas{
    width: 100vw;
    height: 100vh;
    z-index: -1 !important;
    overflow: hidden;
    position: absolute;
    pointer-events: all;
}


#footer {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    padding-right: 10px;
    color: #ddd;
    background-color: transparent;
}
